html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}







body,html {
	background-color: #FFF;
    
}
#test{
    background-color: #BEBEC2;
}
header {
    background: #544CC9;
    border-radius: 0px,0px,50px,50px;
    padding: 20px 30px;
    margin: auto;
    
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    
    position:relative;
    z-index:10;
    border-radius: 0px 0px 12px 12px;
    
}
nav {
    display: inline-block;
    text-align: center;
    
}
nav ul li a {
    
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    
    
}
nav ul li a:hover {
	
    text-decoration: wavy overline lime
    
}
nav ul li {
    display: inline-block;
    margin: 10px;
    
}
nav ul {
    list-style: none;
    
}



#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 75px;
    color: #FFF;
}
#logo img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

#subheader{
    background-color: #BEBEC2;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
    
}

#subheader li{
    padding: 0px 50px;
    
}

#subheader nav ul li a{
    color: #403E3E;
}
