html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}

body,html {
	background-color: #FFF;
    
}
#test{
    background-color: #BEBEC2;
}
header {
    background: #544CC9;
    border-radius: 0px,0px,50px,50px;
    padding: 10px 30px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    
    position:relative;
    z-index:10;
    border-radius: 0px 0px 12px 12px;
    
}
header #logo {
    float: left;
    line-height: 72px;
    margin: -10px 0px;
    size: 20px;
    background:none;
}

nav {
    display: inline-block;
    text-align: center;
    margin-left: -75px;
}

header nav ul li a {
    
    font-size: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
header li {
    
    padding: 0px 70px;
    font-size: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #272765;
    font-family: 'Montserrat', sans-serif;
    
    
}
header nav ul li:hover {
	
    text-decoration: wavy overline lime
    
}
nav ul li {
    display: inline-block;
    margin: 10px;
    
    
}
nav ul {
    list-style: none;
    
}

#logo img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
}

#subheader{
    background-color: #BEBEC2;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
    
    
}
#subheader nav{
    margin-left: -2%;
}
#subheader li{
    padding: 0px 60px;
    color: #272765;
    
}

#subheader nav ul li a{
    text-decoration: none;
    color: #403E3E;
    font-size: 40;
}

#subheader nav ul li a:hover{
    color: #272765;
}

#top{
    margin-top: 100px;
}

#top h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-left: 3%;
    font-size: 58px;
    color: #544CC9;
}
#top h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-left: 3%;
    font-size: 19px;
    margin-top: 4%;
    padding-right: 54%;
    text-align: justify;
    letter-spacing: 0px;
    
}

.sideImage {
    width: 40%;
    height: auto;
    float: right;
    text-align: right;
    margin-top: -10%;;
}

/* Resize images */
.sideImage img {
    width: 100%;
    height: auto;
    
}

.contactinfo{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-right: 83%;
    
    margin-left: 3%;
    margin-top: 5%;
}
.contactinfo img{
    float:left;
    margin-top: 3%;
    margin-left: 2%;
    position: relative;
    width: 15%;
}
.contactinfo h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 6%;
    margin-left: 22%;
    padding-bottom: 6%;
}
.contactinfo:hover{
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
}