<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Automata Exercises</title>

	<meta name="Intuitive exercises for finite state automata and regular languages" content="ntuitive exercises for finite state automata and regular languages">
	<meta name="UCL Computer Science grp. 31" content="Automata Exercises">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,600&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="static/style_contact.css">
	<link rel="icon" href="static/Images/logo.png">

</head>
<body>
	<div id="test">
		<header>
			<a href="/"><div id="logo"><img src="static/Images/logo.png"></div></a>
				<nav>  
					<ul>
						<li><a href="/">Home</a>
						<li><a href="exercises">Exercises</a>
						<li><a href="generator">Generator</a>
						<li><a href="create">Create</a>
					</ul>
				</nav>
		</header>
	</div>
	<div id="subheader">
		<nav>  
			<ul>
				<li><a href="who_are_we">Who are we?</a>
				<li>Contact
				<li><a href="about">About</a>
			</ul>
		</nav>
	</div>

	<div id="top">
		<h1>CONTACT.</h1>
		<h3>You have a question? A suggestion? Feel free to contact us!</h3>
		<div class="sideImage"><img src="static/Images/undraw_team_spirit_hrr4(2).png"></div>
	</div>

	<div class="contactinfo">
		<img src="static/Images/email_logo.png">
		<h3>vincent.lefeuve.20@ucl.ac.uk</h3>
	</div>
	
</body>
</html>